{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur, vel rerum debitis fugiat recusandae iste
  at quod dolores optio voluptatem praesentium, exercitationem placeat aliquam veniam? Aliquid veritatis quia deserunt
  soluta cumque et qui labore, autem eius in neque, nemo dolorum error consectetur dicta cupiditate commodi quidem, quos
  perferendis saepe numquam magni sequi. Deleniti, adipisci ducimus, nisi, necessitatibus architecto sapiente aliquid
  dignissimos consectetur asperiores quo ad exercitationem qui delectus? Fugiat esse tenetur laudantium quod eligendi
  magni corporis eaque labore ullam officiis quo voluptas at odit quas cum, rem nulla dolor provident dicta debitis?
  Nihil voluptatibus libero totam recusandae autem iusto?</p>

<p> Website created by {{username}}</p>
{% endblock %}